body{
    display: flex;
    background: linear-gradient(to bottom, #000000 83%, #cc0000 100%);
      height: 100vh;
            

}
/* #text{
    font-family: monospace;
    color: #cc0000;
    text-align: center;
} */
#logo{
    
    margin-right: -13%;
    /* margin-left: 10%; */
    height: 60px;
    width: 120px;

}
#mov1
{
  height: 280px;
  width: 200px; 
  border-radius: 10px;
  margin-left: 110%; 
  margin-right: -40%;
    margin-top:100%;
    margin-bottom: 20%;
    transition: .5s ease;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}
#mov1:hover
{
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
        box-shadow: 0 0 0 10px  #cc0000;
        transition: .5s ease;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}
#mov2
{
  height: 280px;
  width: 200px; 
  border-radius: 10px;
  margin-left: 140%; 
  margin-right: -30%;
    margin-top:100%;
    margin-bottom: 15%;
    transition: .5s ease;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}
#mov2:hover
{
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
        box-shadow: 0 0 0 10px  #ff9900;
        transition: .5s ease;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}
#mov3
{
  height: 280px;
  width: 200px; 
  border-radius: 10px;
  margin-left: 170%; 
  margin-right: -30%;
    margin-top:100%;
    margin-bottom: 15%;
    transition: .5s ease;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}
#mov3:hover
{
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
        box-shadow: 0 0 0 10px  yellow;
        transition: .5s ease;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}
#mov4
{
  height: 280px;
  width: 200px; 
  border-radius: 10px;
  margin-left: 200%; 
  margin-right: -30%;
    margin-top:100%;
    margin-bottom: 15%;
    transition: .5s ease;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}
#mov4:hover
{
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
        box-shadow: 0 0 0 10px  orangered;
        transition: .5s ease;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}
#mov5
{
  height: 280px;
  width: 200px; 
  border-radius: 10px;
  margin-left: 230%; 
    margin-right: -35%;
    margin-top:100%;
    margin-bottom: 15%;
    transition: .5s ease;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
}
#mov5:hover
{
    filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
        box-shadow: 0 0 0 10px  #cc0000;
        transition: .5s ease;
    -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}