.box{
    height: 400px;
    width: 60%;
    background-color: aqua;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 5px;
    transition: border-radius 2s, background-color 2s;
    /* changeed background color to red */
  
}
@media (max-width:600px) {
    .box{ border-radius:  50%;
        background-color: red;
        
    }
    
}
